* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.wrapper {
  width: 100%;
  margin: 50px auto;
}
.Background {
  width: 100%;
  height: 1024px;
  background: rgba(237,230,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Photo {
  width: 555px;
  height: 549px;
  background: url("../images/v2_5.jpg");
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 109px;
  border-radius: 50%;
	max-width: 90%;
}
.Name {
  width: 952px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 171px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
 
}
.Short_description {
  width: 385px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 171px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;

}
.Home_page {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 175px;
  left: 614px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;

}
.Summary {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 175px;
  left: 826px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;

}
.Projects {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 174px;
  left: 1048px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;

}
.Second_welcome {
  width: 573px;
  height: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 725px;
  top: 422px; 
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  opacity: 1;
  text-align: left;

}
.Red_ball {
  width: 190px;
  height: 190px;
  background: rgba(252,0,45,1);
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 735px;
  border-radius: 50%;

}
.Blue_ball {
  width: 191px;
  height: 190px;
  background: rgba(2,166,177,1);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 960px;
  border-radius: 50%;

}
.Dark_blue_ball {
  width: 193px;
  height: 190px;
  background: rgb(1, 3, 128);
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 1178px;
  border-radius: 50%;

}
.Summary_ball {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 644px;
  left: 767px;
  font-family: Gaegu;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.Projects_ball {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 644px;
  left: 987px;
  font-family: Gaegu;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.Skills_ball {
  width: 134px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 644px;
  left: 1215px;
  font-family: Gaegu;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.list_of_professional_skills {
  width: 664px;
  color: rgba(10,0,0,1);
  position: absolute;
  top: 773px;
  left: 735px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
  word-wrap: break-word;
  min-width: 90%;
}
.Welcome {
  position: absolute;
  width: 490px;
  height: 147px;
  left: 725px;
  top: 275px;

  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 146px;
  color: rgba(0,0,0,1);

}
.Contacts {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 947px;
  left: 735px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.Number_and_VK {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 992px;
  left: 735px;
  font-family: Garamond;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
