@media (max-width: 1100px)
{
.wrapper{
    padding: 10px 0;
}
.Photo{
    width: 483px;
    height: 462px;
    left: 0px;
    top: 222px;
}
.Name{ 
    width: 952.83px;
    height: 86.49px;
    left: 25.96px;
    top: 54px
}
.Short_description {
    width: 385px;
    height: 27px;
    left: 25px;
    top: 173px;
}
.Home_page{
    width: 142px;
    height: 23px;
    left: 446px;
    top: 175px;
}
.Summary{
    width: 135px;
    height: 23px;
    left: 661px;
    top: 176px;
}
.Projects{
    width: 153px;
    height: 23px;
    left: 869px;
    top: 174px;

}
.Welcome{
    width: 490px;
    height: 147px;
    left: 446px;
    top: 203px;

}
.Second_welcome{
    width: 573px;
    height: 90px;
    left: 503px;
    top: 340px;
}
.Red_ball{
    width: 190px;
    height: 190px;
    left: 503px;
    top: 440px;
 
}
.Blue_ball{
    width: 191px;
    height: 190px;
    left: 730px;
    top: 446px;
}
.Dark_blue_ball{
    width: 193px;
    height: 190px;
    left: 614px;
    top: 619px;
}
.Summary_ball{
    width: 137px;
    height: 22px;
    left: 538px;
    top: 519px; 
}
.Projects_ball{
    width: 137px;
    height: 35px;
    left: 757px;
    top: 519px;  
}
.Skills_ball{
    width: 134px;
    height: 32px;
    left: 644px;
    top: 698px;
}
.list_of_professional_skills{
    width: 664px;
    height: 187px;
    left: 1px;
    top: 691px;
}
.Contacts{
    width: 234px;
    height: 45px;
    left: 20px;
    top: 870px;
}
.Number_and_VK{
    width: 373px;
    height: 20px;
    left: 20px;
    top: 910px;
}
@media (max-width: 600px){
    h2{
        font-size: 14px;
    }

    .Photo{
        width: 127px;
        height: 124px;
        left: 21px;
        top: 6px;
        background: url("../images/mobile.jpg");
    }
    .Name{ 
        width: 195.38px;
        height: 51.43px;
        left: 167.57px;
        top: 8px;
        font-size: 24px;
    }
    .Short_description {
        width: 182px;
        height: 27px;
        left: 167px;
        top: 67px;
        font-size: 14px;
    }
    .Home_page{
        width: 59px;
        height: 23px;
        left: 168px;
        top: 89px;
        font-size: 12px;
    }
    .Projects{
        width: 67px;
        height: 23px;
        left: 305px;
        top: 89px;
        font-size: 12px;
    }
    .Welcome{
        width: 301px;
        height: 73px;
        left: 30px;
        top: 145px;
        font-size: 65px;
        line-height: 73px;
    }
    .Second_welcome{
        width: 287px;
        height: 45px;
        left: 30px;
        top: 218px;
        font-size: 40px;
        line-height: 45px;
    }
    .Summary{
        width: 59px;
        height: 23px;
        left: 237px;
        top: 89px;
        font-size: 12px;
    }
    .Red_ball{
        width: 80px;
        height: 80px;
        left: 30px;
        top: 270px;
    }
    .Blue_ball{
        width: 80px;
        height: 80px;
        left: 138px;
        top: 270px;
    }
    .Dark_blue_ball{
        width: 80px;
        height: 80px;
        left: 246px;
        top: 270px;
    }
    .Summary_ball{
        width: 63px;
        height: 16px;
        left: 39px;
        top: 303px;
    }
    .Projects_ball{
        width: 75px;
        height: 16px;
        left: 144px;
        top: 303px;
    }
    .Skills_ball{
        width: 67px;
        height: 17px;
        left: 255px;
        top: 303px;
    }
    .list_of_professional_skills{
        width: 345px;
        height: 171px;
        left: 30px;
        top: 397px;
        font-size: 16px;
    }
    .Contacts{
        width: 104px;
        height: 27px;
        left: 30px;
        top: 582px;
        font-size: 20px;
    }
    .Number_and_VK{
        width: 373px;
        height: 12px;
        left: 30px;
        top: 615px;
        font-size: 14px;
    }
}
}